@charset "UTF-8";
body{
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.nav-link:hover{
    color: #B50D13 !important;
    transition: 0.5s;
}

.navItems{
    display: flex;
    width: 100%;
    justify-content: center;
}
.bg-black2{
    background-color: #0E0b16;
}
.navbar-toggler{
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white !important;
    border-radius: .25rem;
}
.fa-bars:before {
    color: white;
    content: "\f0c9";
}
.navLanguage{
	list-style: none;
}